
<%
const categoriesList = list_categories({ show_count: true});
const tagsList = list_tags({ show_count: true });
const archivesList = list_archives({ show_count: true, format: "YYYY年M月" });
%>

<% if (is_year() === false) { %>
  <div id="archive">

    <h1>記事一覧</h1>

    <aside>
      <h2>記事一覧</h2>
      <% if (archivesList !== "") { %>
        <%-archivesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <% if (theme.atom !== undefined) { %>
      <p>
        The feed is available via
        <a href="<%=theme.atom%>">atom</a>.
      </p>
      <br>
    <% } %>

    <% if (categoriesList !== "") { %>
      <aside>
        <h2>Categories</h2>
        <%-categoriesList%>
      </aside>
    <% } %>

    <aside>
      <h2>Tags</h2>
      <% if (tagsList !== "") { %>
        <%-tagsList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>



  </div>
<% } else { %>

  <h1><%=page.year+ '年' + page.month + '月' %></h1>

  <% page.posts.each(article => { %>
    <div class="archive-item">
      <a href="<%=url_for(article.path)%>">
        <%=article.title%>
      </a>
      <time datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
    </div>
  <% }) %>

  <div id="paginator">
    <%-paginator()%>
  </div>

<% } %>
