
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';

let description = ''
let keyword = '';

if (page.title) {
  description = page.description || '';
  keyword = page.keyword || '';
} else {
  description = config.description || '';
  keyword = config.keyword || '';
}

%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <%- partial('partials/gtag.ejs') %>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
  <% if (description) { %>
    <meta name="description" content="<%=description%>">
  <% } %>
  <% if (keyword) { %>
    <meta name="keywords" content="<%=keyword%>">
  <% } %>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <%- partial('partials/twitter-card') %>
  <%- partial('partials/google-tag-manager') %>
</head>
<body>
<%- partial('partials/google-tag-manager-noscript') %>

<div id="menu-outer">
  <%- partial('partials/header', null, {cache: !config.relative_link}) %>
</div>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>

<footer>
  <div id="bottom-outer">
    <div id="bottom-inner">
      <div id="author-profile">
        <div id="author">
          <p>著者情報</p>
          <a href="/about/">
            <img src="https://avatars1.githubusercontent.com/u/1150041?s=460&u=f615fc39ae1a47862c73b870898620fc9b5e6d60&v=4" alt="著者">
          </a>
          <a href="/about/">
            <p class="author-name">山崎勝平</p>
          </a>
          <p class="author-introduction">ソフトウェアエンジニア。福岡の郊外でリモートワークをしています。webアプリ開発とプログラミングのレッスンをしています。</p>
        </div>
        <div id="twitter-timeline">
          <a class="twitter-timeline" href="https://twitter.com/sinn_shoyan?ref_src=twsrc%5Etfw">Tweets by sinn_shoyan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div id="footer-bottom">
        <p>Copyright ©SHOYAN BLOG</p>
      </div>
    </div>
  </div>
</footer>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(url => { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

</body>
</html>
