
<article id="page">
  <div class="date-box">
    <time datetime="<%=page.date.toJSON()%>" itemprop="datepublished">
      <%=date(page.date)%>
    </time>
    <time datetime="<%=page.updated.toJSON()%>" itemprop="modified">
      (更新日: <%=date(page.updated)%>)
    </time>
  </div>

  <h1><%=page.title%></h1>
  <%-partial('partials/share')%>
  <%-page.content%>
</article>