
<article id="post">
  <div class="date-box">
    <time datetime="<%=page.date.toJSON()%>" itemprop="datepublished">
      <%=date(page.date)%>
    </time>
    <time datetime="<%=page.updated.toJSON()%>" itemprop="modified">
      (更新日: <%=date(page.updated)%>)
    </time>
  </div>
  <h1><%=page.title%></h1>
  <% if (page.categories && page.categories.length > 0) { %>
  <div class="post-categories">
    <% page.categories.each(function(category) { %>
      <a href="<%- url_for(category.path) %>" class="post-category"><%= category.name %></a>
    <% }); %>
  </div>
  <% } %>
  <div class="post-tags">
    <%- list_tags(page.tags, {show_count: false, class: 'post-tags', style: false, separator: ' '}) %>
  </div>
  <%-partial('partials/share')%>
  <% 
    var showOutdatedNotice = page.outdated === true;
  %>
  <% if (showOutdatedNotice) { %>
  <div class="outdated-notice">
    <p>※この記事の内容は古くなっています。当時の状況とは変わっている可能性があるため、あくまで参考としてご利用ください。</p>
  </div>
  <% } %>
  <%-page.content%>
</article>
<%- partial('partials/nav') %>
<%- partial('partials/recent_posts') %>