
<% if (page.posts.length > 0) { %>
  <div id="recent-posts">
    <% page.posts.sort('date', -1).limit(5).each(post => { %>
      <div class="recent-post-item">
        <h1>
        <a href="<%=url_for(post.path)%>"><%=post.title%></a>
        </h1>
        <time datetime="<%=post.date.toJSON()%>">
          <%=date(post.date)%>
        </time>
        <div class="content">
          <%- post.content %>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
