<% if (page.posts.length > 0) { %>
  <div id="recent-posts">
    <% page.posts.sort('date', -1).limit(5).each(post => { %>
      <div class="recent-post-item">
        <div class="date-box">
          <time datetime="<%=post.date.toJSON()%>" itemprop="datepublished">
            <%=date(post.date)%>
          </time>
          <time datetime="<%=post.updated.toJSON()%>" itemprop="modified">
            (更新日: <%=date(post.updated)%>)
          </time>
        </div>
        <h1>
        <a href="<%=url_for(post.path)%>"><%=post.title%></a>
        </h1>
        <div class="content">
          <%- post.content %>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
